@model DACS_SV5T.Models.DUYET_TC

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_HoatDongLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DUYET_TC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DUYET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DUYET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DANHGIA.ID_DANHGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DANHGIA.ID_DANHGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SINHVIEN.TEN_SV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SINHVIEN.TEN_SV)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
