@model DACS_SV5T.Models.DUYET_TC

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_HoatDongLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DUYET_TC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DUYET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DUYET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DANHGIA.ID_DANHGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DANHGIA.ID_DANHGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SINHVIEN.TEN_SV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SINHVIEN.TEN_SV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
