@model IEnumerable<DACS_SV5T.Models.TIEUCHI>

<div class="panel-group" id="accordionTieuChi">
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:whitesmoke">
                <h4 class="panel-title" style="text-align:center;vertical-align:middle;font-weight:bold">
                    <a data-toggle="collapse" data-parent="#accordionTieuChi" href="#@item.ID_TCHI-TieuChi">
                        @Html.DisplayFor(modelItem => item.TEN_TCHI)
                    </a>
                </h4>
            </div>
            <div id="@item.ID_TCHI-TieuChi" class="panel-collapse">
                <div class="panel-body">
                    @Html.Action("CTTieuChi", "HoatDong", new { LTC = @item.ID_LTCHI, IDTC = @item.ID_TCHI})
                </div>
            </div>
        </div>
    }
</div>