@model DACS_SV5T.Models.CT_TEUCHI

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CT_TEUCHI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOIDUNG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOIDUNG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIEUCHI.TEN_TCHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIEUCHI.TEN_TCHI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_CTTCHI }) |
    @Html.ActionLink("Back to List", "Index")
</p>
