@model DACS_SV5T.Models.SINHVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SINHVIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_SV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_SV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIACHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MSSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHOAVIEN.TEN_KV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHOAVIEN.TEN_KV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAP.TEN_CAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAP.TEN_CAP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_SV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
