@model IEnumerable<DACS_SV5T.Models.DANHGIA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HoatDongLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TCHUAN_HOCTAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TCHUAN_HD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DUYET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAP.TEN_CAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CT_TEUCHI.NOIDUNG)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TCHUAN_HOCTAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TCHUAN_HD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DUYET)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAP.TEN_CAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_TEUCHI.NOIDUNG)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
