@model DACS_SV5T.Models.TIEUCHI

@{
    ViewBag.Title = "Xóa yêu cầu";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-red" style="margin-top:20px">
            <div class="panel-heading">
                Bạn có muốn xóa @Html.DisplayFor(model => model.TEN_TCHI)
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <h4 style="color:red">@ViewBag.error</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Loại yêu cầu
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TEN_TCHI)
                    </dd>

                    <dt>
                        Loại tiêu chí
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LOAITIEUCHI.TEN_LTCHI)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Xóa" class="btn btn-danger" /> |
                        @Html.ActionLink("Quay về", "Index")
                    </div>
                }
            </div>

        </div>
    </div>
</div>